# Python related
__pycache__
.python-version
*.log
.ruff_cache/
.venv/
remove/

# IDE and environment
.vscode
.env

# Project directories
/results/
/in/legacy
/cache/
/legacy/
/debug_output/
/saved_images/

# Temporary and system files
.DS_Store
TODO
game.log

# Jupyter notebooks
test.ipynb
testing.ipynb

# VMware related
vmware_vm_data
.vmware_lck
.vmware_vms

# Project specific files
key.json
/in/*.md

# Outputs
outputs/

# Backup prompt files 
/resources/prompts/backups/

/scripts/logs/
TEMP_PROMPTS/
plots/*
/analysis/plots/*
/analysis/cost_analysis_legacy.py
/results_new/
/results_all/

pyproject_old.toml